
@{
    ViewBag.Title = "SPMS_IPCR_MPOR";
}
<style type="text/css">


    .my-custom-scrollbar {
        position: relative;
        height: 50vh;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }

    .lbl_mporTableH {
        text-align: center;
        font-size: small
    }

    .lbl_mporTableR {
        text-align: center;
        font-size: small
    }

    .searchBar {
        width: 50%;
    }

    .performanceTD {
        height: 45px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    /* enable absolute positioning */
    .inner-addon {
        position: relative;
    }

        /* style icon */
        .inner-addon .bi {
            position: absolute;
            padding: 10px;
            pointer-events: none;
        }

    /* align icon */
    .left-addon .bi {
        left: 0px;
    }

    .right-addon .bi {
        right: 0px;
    }

    /* add padding  */
    .left-addon input {
        padding-left: 30px;
    }

    .right-addon input {
        padding-right: 30px;
    }

    .inheritBg {
        background-color: inherit
    }

    select {
        /* for Firefox */
        padding-left: 5px;
        -moz-appearance: none;
        /* for Chrome */
        -webkit-appearance: none;
    }

        /* For IE10 */
        select::-ms-expand {
            display: none;
        }

    .selectFilter {
        /* for Firefox */
        padding-left: 5px;
        -moz-appearance: none;
        /* for Chrome */
        -webkit-appearance: none;
    }

        /* For IE10 */
        .selectFilter::-ms-expand {
            display: none;
        }

    .lg-btn-add-mfo {
        border: dashed 2px;
        font-size: 40px;
        padding: 10px;
        width: 350px;
        height: 120px;
        margin-top: 300px;
        border-color: lightgray;
        border-radius: 30px
    }

    .lg-txt-add-mfo {
        color: dimgray;
        font-family: Bahnschrift Light
    }

    .lg-btn-sel-mfo {
        border: dashed 2px;
        font-size: 40px;
        padding: 10px;
        width: 350px;
        height: 120px;
        margin-top: 300px;
        border-color: lightgray;
        border-radius: 30px
    }

    .lg-txt-sel-mfo {
        color: dimgray;
        font-family:
    }

    .div-bg {
        background-color: white;
        padding: 20px;
    }

    .cat-style {
        border: solid;
        border-color: #EEEEEE;
        height: 36px;
        width: 232px;
        padding-left: 1px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .i-style {
        background-color: #EEEEEE;
        padding: 6px;
    }

    .sel-style {
        width: 150px;
        height: 30px;
        border: none
    }

    .root-num {
        background-color: #088fbb;
        color: white;
        padding: 3px 8px 3px 8px;
    }

    .btn-sublist {
        background-color: #e8f9fa;
        color: #7ABACC;
        font-size: 23px;
        padding: 5px 10px 5px 10px;
    }

    .btn-add-mfo {
        background-color: #e8f9fa;
        color: dodgerblue;
        font-size: 23px;
        padding: 5px 10px 5px 10px;
    }

    .btn-update {
        background-color: #dafad7;
        color: #48ad3e;
        font-size: 20px;
        padding: 5px 10px 5px 10px;
    }

    .btn-remove {
        background-color: #fcf2f2;
        color: red;
        font-size: 20px;
        padding: 5px 10px 5px 10px;
    }

    .btn-addots {
        background-color: #e8f9fa;
        color: dodgerblue;
        font-size: 20px;
        padding: 5px 10px 5px 10px;
    }

    .btn-eye {
        background-color: #ccebff;
        color: #007acc;
        font-size: 20px;
        padding: 5px 10px 5px 10px;
    }

    .cl-num {
        background-color: #7ABACC;
        color: white;
        padding: 3px 6px 3px 6px;
        margin-left: 10px
    }

    .btn-update-cl {
        background-color: #dafad7;
        color: #48ad3e;
        font-size: 20px;
        padding: 5px 10px 5px 10px;
    }

    .select {
        position: relative;
        display: inline-block;
        margin-bottom: 5px;
        width: 30%;
    }

        .select select {
            font-family: 'Arial';
            display: inline-block;
            width: 100%;
            cursor: pointer;
            padding: 8px 20px;
            outline: 0;
            border: 0px hidden #000000;
            border-radius: 0px;
            background: #ffffff;
            color: #767676;
            -webkit-appearance: none;
            -moz-appearance: none;
        }

            .select select::-ms-expand {
                display: none;
            }

            .select select:hover,
            .select select:focus {
                color: #000000;
                background: #e5e5e5;
            }

            .select select:disabled {
                opacity: 0.5;
                pointer-events: none;
            }

    .select_arrow {
        position: absolute;
        top: 16px;
        right: 15px;
        pointer-events: none;
        border-style: solid;
        border-width: 8px 5px 0px 5px;
        border-color: #7b7b7b transparent transparent transparent;
    }

    .select select:hover ~ .select_arrow,
    .select select:focus ~ .select_arrow {
        border-top-color: #000000;
    }

    .select select:disabled ~ .select_arrow {
        border-top-color: #cccccc;
    }
</style>
<div ng-controller="SPMS_IPCR" style="margin: 5px;" ng-init="loadDataMPOR(month)">
    <div class="div-bg">
        <center>
            <div id="heading">
                <h5 style="margin-bottom: -10px">Province of Davao del Norte</h5>
                <h4 style="margin-bottom: -10px"><b>{{mporData[0].officeName}}</b></h4>
                <h5 style="margin-bottom: -10px">Tagum City, Davao del Norte</h5>
                <h4>MONTHLY PERFORMANCE OUTPUT REPORT</h4>
            </div>
        </center>

        <div class="row">
            <div class="col-lg-4">
                <span>Name: </span> <strong>{{mporData[0].F_Name}}</strong>
            </div>
            <div class="col-lg-4">
                <center><span>Office / Division: </span> <strong> {{mporData[0].officeNameShort}} </strong></center>
            </div>
            <div class="col-lg-4">
                <center>
                    <span>Month: </span>
                    <div class="select">
                        <strong>
                            <select class="" ng-model="selectedMonth" ng-change="loadDataMPOR(selectedMonth)">
                                <option value="1">JANUARY</option>
                                <option value="2">FEBRUARY</option>
                                <option value="3">MARCH</option>
                                <option value="4">APRIL</option>
                                <option value="5">MAY</option>
                                <option value="6">JUNE</option>
                                <option value="7">JULY</option>
                                <option value="8">AUGUST</option>
                                <option value="9">SEPTEMBER</option>
                                <option value="10">OCTOBER</option>
                                <option value="11">NOVEMBER</option>
                                <option value="12">DECEMBER</option>
                            </select>
                        </strong>
                        <div class="select_arrow">
                        </div>
                    </div>
                </center>
            </div>
        </div>
        <div class="table-responsive" style="display:block;">
            <div class="my-custom-scrollbar" style="height: 63vh">
                @* STRATEGIC FUNCTIONS *@
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th rowspan="5" class="lbl_mporTableH" style="width: 220px;">
                                MAJOR FINAL OUTPUT
                            </th>
                        </tr>
                        <tr>
                            <th colspan="17" class="lbl_mporTableH" style="width: 320px;">
                                ACCOMPLISHMENTS
                            </th>
                        </tr>
                        <tr>
                            <th colspan="5" class="lbl_mporTableH" style="width: 320px;">
                                QUANTITY
                            </th>
                            <th colspan="6" class="lbl_mporTableH" style="width: 320px;">
                                QUALITY
                            </th>
                            <th colspan="6" class="lbl_mporTableH" style="width: 320px;">
                                TIMELINESS
                            </th>
                        </tr>
                        <tr>
                            <!-- QTY  -->
                            <th class="lbl_mporTableH" style="width: 64px; ">
                                Wk1
                            </th>
                            <th class="lbl_mporTableH" style="width: 64px; ">
                                Wk2
                            </th>
                            <th class="lbl_mporTableH" style="width: 64px;">
                                Wk3
                            </th>
                            <th class="lbl_mporTableH" style="width: 64px; ">
                                Wk4
                            </th>
                            <th class="lbl_mporTableH" style="width: 64px; ">
                                TOTAL
                            </th>
                            <!-- QLY  -->
                            <th class="lbl_mporTableH" style="width: 64px; ">
                                Wk1
                            </th>
                            <th class="lbl_mporTableH" style="width: 64px; ">
                                Wk2
                            </th>
                            <th class="lbl_mporTableH" style="width: 64px; ">
                                Wk3
                            </th>
                            <th class="lbl_mporTableH" style="width: 64px; ">
                                Wk4
                            </th>
                            <th class="lbl_mporTableH" style="width: 64px; ">
                                TOTAL
                            </th>
                            <th class="lbl_mporTableH" style="width: 64px; ">
                                AVE.
                            </th>
                            <!-- TIME  -->
                            <th class="lbl_mporTableH" style="width: 64px; ">
                                Wk1
                            </th>
                            <th class="lbl_mporTableH" style="width: 64px; ">
                                Wk2
                            </th>
                            <th class="lbl_mporTableH" style="width: 64px; ">
                                Wk3
                            </th>
                            <th class="lbl_mporTableH" style="width: 64px; ">
                                Wk4
                            </th>
                            <th class="lbl_mporTableH" style="width: 64px; ">
                                TOTAL
                            </th>
                            <th class="lbl_mporTableH" style="width: 64px; ">
                                AVE.
                            </th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="mpor in mporData | groupBy:'i_category' | orderBy:'i_category'">
                        <tr ng-show="mpor.i_category_CHANGED" class="bg-slate">
                            <td class="no-border-right">
                                {{mpor.description}} Function
                            </td>
                            <td class="no-border-right no-border-left"></td>
                            <td class="no-border-right no-border-left"></td>
                            <td class="no-border-right no-border-left"></td>
                            <td class="no-border-right no-border-left"></td>
                            <td class="no-border-right no-border-left"></td>
                            <!-- QUALITY -->
                            <td class="no-border-right no-border-left"></td>
                            <td class="no-border-right no-border-left"></td>
                            <td class="no-border-right no-border-left"></td>
                            <td class="no-border-right no-border-left"></td>
                            <td class="no-border-right no-border-left"></td>
                            <td class="no-border-right no-border-left"></td>
                            <td class="no-border-right no-border-left"></td>
                            <!-- Timeliness -->
                            <td class="no-border-right no-border-left"></td>
                            <td class="no-border-right no-border-left"></td>
                            <td class="no-border-right no-border-left"></td>
                            <td class="no-border-right no-border-left"></td>
                            <td class="no-border-right no-border-left"></td>
                        </tr>
                        <tr>
                            <td class="">{{mpor.MFO ? mpor.MFO: mpor.CLDesc}}</td>
                            <!-- QUANTITY -->
                            <td class="lbl_mporTableR">{{mpor.qtyWk1}}</td>
                            <td class="lbl_mporTableR">{{mpor.qtyWk2}}</td>
                            <td class="lbl_mporTableR">{{mpor.qtyWk3}}</td>
                            <td class="lbl_mporTableR">{{mpor.qtyWk4}}</td>
                            <td class="lbl_mporTableR"><strong>{{mpor.qtyTotal}}</strong></td>
                            <!-- QUALITY -->
                            <td class="lbl_mporTableR">{{mpor.qlyWk1}}</td>
                            <td class="lbl_mporTableR">{{mpor.qlyWk2}}</td>
                            <td class="lbl_mporTableR">{{mpor.qlyWk3}}</td>
                            <td class="lbl_mporTableR">{{mpor.qlyWk4}}</td>
                            <td class="lbl_mporTableR"><strong>{{mpor.qlyTotal}}</strong></td>
                            <td class="lbl_mporTableR">{{mpor.qlyAve}}</td>
                            <!-- Timeliness -->
                            <td class="lbl_mporTableR">{{mpor.timeWk1}}</td>
                            <td class="lbl_mporTableR">{{mpor.timeWk2}}</td>
                            <td class="lbl_mporTableR">{{mpor.timeWk3}}</td>
                            <td class="lbl_mporTableR">{{mpor.timeWk4}}</td>
                            <td class="lbl_mporTableR"><strong>{{mpor.timeTotal}}</strong></td>
                            <td class="lbl_mporTableR">{{mpor.timeAve}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>

            </div>
        </div>
        <div class="btn-group dropup " ng-show="showSubmitButton(mpor[0].Status)">
            <button type="button" class="btn btn-primary" style="width: 160px" ng-click=""> SUBMIT MPOR</button>
        </div>
        <div class="btn-group dropup " ng-show="checkNull(selectedMonth)">
            <button type="button" class="btn btn-primary" ng-click="prt_mpor(selectedMonth,mporData[0].r_year,mporData[0].r_semester)"><i class="icon-printer position-left"></i> PRINT MPOR ({{getMonthString(selectedMonth)}})</button>
        </div>
    </div>
</div>

    @section JavaScript{
        <script src="~/Scripts/AngularJS/SPMS_IPCR/SPMS_IPCR.js"></script>
    }
