

@{
    ViewBag.Title = "Common";
}
<style type="text/css">
    .my-custom-scrollbar {
        position: relative;
        height: 88vh;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }

    .lbl_opcrTableH {
        text-align: center;
    }

    sticky {
        position: sticky;
        top: 0;
    }

    /* enable absolute positioning */
    .inner-addon {
        position: relative;
    }

        /* style icon */
        .inner-addon .bi {
            position: absolute;
            padding: 10px;
            pointer-events: none;
        }

    /* align icon */
    .left-addon .bi {
        left: 0px;
    }

    .right-addon .bi {
        right: 0px;
    }

    /* add padding  */
    .left-addon input {
        padding-left: 30px;
    }

    .right-addon input {
        padding-right: 30px;
    }

    .inheritBg {
        background-color: inherit
    }

    select {
        /* for Firefox */
        padding-left: 5px;
        -moz-appearance: none;
        /* for Chrome */
        -webkit-appearance: none;
    }

        /* For IE10 */
        select::-ms-expand {
            display: none;
        }

    .btn-update {
        background-color: #dafad7;
        color: #48ad3e;
        font-size: 20px;
        padding: 5px 10px 5px 10px;
    }

    .btn-add-mfo {
        background-color: #e8f9fa;
        color: dodgerblue;
        font-size: 23px;
        padding: 5px 10px 5px 10px;
    }



    input[type=text]:focus {
        border: 2px solid #babebf;
        z-index: 100;
    }
</style>


<div ng-controller="MFOStandard" id="divID" style=" margin: 10px">

    <div class="card" style="width: 100%; background-color: white;">
        <div class="table-responsive" style="display:block;">
            <div class="my-custom-scrollbar">
                <table class="table  table-striped">
                    <thead class="grey lighten-2">
                        <tr style="background-color: #90A4AE; position: sticky; z-index: 1; top: 0 ">
                            <th colspan="3">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <h4 style="color: #37474F"> <b>LIST OF COMMON MFO</b></h4>
                                    </div>
                                    <div class="col-lg-4">
                                        <i class="bi bi-search" style="background-color: #EEEEEE; padding: 6px; position: absolute; left: 13px; top: 2px"></i>
                                        <input type="text" ng-model="search['MFO']" placeholder="Search Common MFO . . ." class="form-control" style="padding-left:30px" />
                                        <span ng-click="search = undefined"><i class="bi bi-x" style="background-color: #EEEEEE; padding: 6px; position: absolute; right: 13px; top: 2px"></i></span>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <button ng-show="isHR" type="button" class="btn" data-toggle="modal" data-target="#addMFOForm" style="float: right; margin-right: 30px; padding: 10px; background-color: #607D8B ">
                                    <i class="bi bi-plus-lg" style="color: white">
                                    </i>
                                    <span style="color:white">
                                        Add Common MFO
                                    </span>

                                </button>
                            </th>
                        </tr>
                        <tr style="color: #607D8B; font-weight: bold; ">
                            <th style="width:60px">
                                #
                            </th>

                            <th class="">
                                COMMON MFO
                            </th>
                            <th class="">
                                SUCCESS INDICATOR
                            </th>

                            <th style="width: 180px">
                                ACTIONS
                            </th>

                        </tr>
                    </thead>
                    <tbody ng-repeat="cmfo in cmfoes | unique: 'MFOId' | filter: search">
                        <tr>

                            <td rowspan="{{rowCount(cmfo.MFOId,cmfo)}}">{{$index + 1}}</td>
                        </tr>
                        <tr>

                            <td rowspan="{{rowCount(cmfo.MFOId,cmfo)}}">{{cmfo.MFO}}</td>
                        </tr>
                        <tr ng-repeat="item in cmfoes | unique: 'indicatorId' | filter:{MFOId:cmfo.MFOId}">
                            <td>
                                {{item.indicator}}
                            </td>
                            <td style="width: 180px">
                                <i ng-show="isHR" ng-if="$first" ng-click="getMFOperId(item.MFOId)" data-toggle="modal" data-target="#addMoreSIForm" class="bi bi-plus-lg btn btn-rounded btn-add-mfo"></i>
                                <i ng-click="getAllSIbyMFO(item)" data-toggle="modal" data-target="#editMFO_allSIForm" class="bi bi-pencil-square btn btn-rounded btn-update"></i>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr />




    @*</a>*@

    @*MODAL FOR ADD COMMON MFO*@
    <div class="modal fade" id="addMFOForm" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalTitle">COMMON MFO ADDING FORM</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="delIndicatorField()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>


                        <div class="form-group">

                            <input type="hidden" value="0" id="idnum">
                            <label><b>Common MFO Description</b></label>
                            <textarea type="text" ng-model="newCMFO.MFO" class="form-control" name="addMFO" required></textarea><br />

                            <div class="row">
                                <div class="col-lg-6">
                                    <label style="margin-top:10px;"><b>Success Indicator</b></label>

                                </div>
                            </div>
                            <textarea type="text" ng-model="newCMFO.indicator" class="form-control" required></textarea>


                            <div class='row'>
                                <div class='col-lg-1'>


                                </div><div class='col-lg-11'>

                                </div>

                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width:30px;">
                                            Rating
                                        </th>

                                        <th>
                                            Quality
                                        </th>
                                        <td>
                                            Timeliness
                                        </td>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr ng-repeat="performance in addStandard">
                                        <th>

                                            <input ng-init="performance.rating = (addStandard.length - $index)" type="text" name="rate" ng-value="{{addStandard.length - $index}}" class="no-border inheritBg " readonly="readonly" />
                                        </th>

                                        <td>
                                            <input ng-model="performance.quality" class="form-control inheritBg" name="quality" />
                                        </td>
                                        <td>
                                            <input ng-model="performance.timeliness" class="form-control inheritBg" name="timeliness" />
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="delIndicatorField()">CLOSE</button>
                                <button id="addCMFO" type="submit" class="btn btn-primary" ng-click="addCMFO(newCMFO)">SAVE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>

    @*MODAL FOR ADD MORE COMMON SUCCESS INDICATOR*@
    <div class="modal fade" id="addMoreSIForm" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalTitle">SUCCESS INDICATOR ADDING FORM</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="delIndicatorField()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <ul class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active"
                               data-toggle="tab"
                               href="#addnewSI"
                               role="tab"
                               aria-selected="true">ADD NEW SUCCESS INDICATOR</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link"
                               data-toggle="tab"
                               href="#listSI"
                               role="tab"
                               aria-selected="false">LIST OF CREATED SUCCESS INDICATOR</a>
                        </li>
                    </ul>
                    @*============================================================================================== ADD NEW SUCCESS INDICATOR TAB ======================================================================================================*@
                    <div class="tab-content clearfix" id="SPMS-content">
                        <div class="tab-pane active" id="addnewSI">
                            <div class="form-group">
                                <label><b>Common MFO Description</b></label>
                                <input type="text" ng-repeat="i in objCMFO  | unique: 'MFOId'" ng-model="i.MFO" class="form-control" name="addMFO" readonly="readonly" /><br />

                                <label style="margin-top:10px;"><b>Success Indicators</b></label><br />
                                <textarea type="text" ng-model="newSI.indicator" class="form-control"></textarea>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width:30px;">
                                                Rating
                                            </th>

                                            <th>
                                                Quality
                                            </th>
                                            <td>
                                                Timeliness
                                            </td>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="performance in addStandard">
                                            <th>

                                                <input ng-init="performance.rating = (addStandard.length - $index)" type="text" name="rate" ng-value="{{addStandard.length - $index}}" class="no-border inheritBg" readonly="readonly" />
                                            </th>

                                            <td>
                                                <input ng-model="performance.quality" class="form-control inheritBg" name="quality" />
                                            </td>
                                            <td>
                                                <input ng-model="performance.timeliness" class="form-control inheritBg" name="timeliness" />
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                                <div class="modal-footer">
                                    <button style="position:absolute;left: 2px;" data-dismiss="modal" data-toggle="modal" data-target="#addSIForm" ng-show="showBckBtn" class="btn btn-info"><i class="bi bi-arrow-bar-left"></i>BACK</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="delIndicatorField()">CLOSE</button>
                                    <button type="button" class="btn btn-primary" ng-click="moreSI(newSI)">SAVE</button>
                                </div>
                            </div>
                        </div>
                        @*============================================================================================== LIST OF CREATED SUCCESS INDICATOR TAB ======================================================================================================*@
                        <div class="tab-pane fade" id="listSI">
                            <div class="table-responsive" style="display:block;">
                                <div class="my-custom-scrollbar">
                                    <table class="table">
                                        <thead>
                                            <tr>

                                                <th>SUCCESS INDICATOR</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="items in objCMFO | unique: 'indicatorId'">

                                                <td>{{items.indicator}}</td>
                                                <td>
                                                    <button ng-click="showStandard(items, true)" data-toggle="modal" data-target="#addPerformance" class="btn btn-primary">
                                                        <i class="bi bi-eye">
                                                            Show Standard
                                                        </i>
                                                    </button>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>


    @* Modal for editting MFO and all SI*@
    <div class="modal fade" id="editMFO_allSIForm" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" onclose="">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalTitle">MFO and SI UPDATE FORM</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <br />
                        <label><b>MFO Description</b></label>

                        <textarea type="text" ng-model="updateMFO_allSI.MFO" class="form-control" id="updateAll_MFODesc"></textarea>
                        <br />

                        <label style="margin-top:10px;"><b>Success Indicator</b></label>
                        <textarea rows="2" style="margin-top:20px;" type="text" ng-model="updateMFO_allSI.indicator" class="form-control" id="upIndicator" placeholder="#1"></textarea>

                        <br />
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width:30px;">
                                        Rating
                                    </th>

                                    <th>
                                        Quality
                                    </th>
                                    <td>
                                        Timeliness
                                    </td>
                                </tr>

                            </thead>
                            <tbody>
                                <tr ng-repeat="performance in standard_show">
                                    <th>

                                        <input ng-model="performance.rating" class="no-border inheritBg " readonly="readonly" />
                                    </th>

                                    <td>
                                        <input ng-model="performance.quality" class="form-control inheritBg" name="quality" />
                                    </td>
                                    <td>
                                        <input ng-model="performance.timeliness" class="form-control inheritBg" name="timeliness" />
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="">CLOSE</button>
                            <button ng-show="isHR" type="button" class="btn btn-primary" ng-click="updateMFO_allSIbyID(updateMFO_allSI)">UPDATE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Modal SHOW STANDARD*@
    <div class="modal fade" id="addPerformance" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">STANDARD</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <table class="table">
                        <thead>
                            <tr>
                                <td>
                                    Rating
                                </td>

                                <td>
                                    Quality
                                </td>
                                <td>
                                    Timeliness
                                </td>
                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="standard in standard_show">
                                <td>


                                    <input ng-model="standard.rating" class="no-border" readonly="readonly" />
                                </td>

                                <td>
                                    <input ng-model="standard.quality" class="form-control" name="quality" />
                                </td>
                                <td>
                                    <input ng-model="standard.timeliness" class="form-control" name="timeliness" />
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <h5>
                        <button type="button" class="btn btn-info" ng-click="copyQT()" style="position:absolute; left: 10px" ng-show="copyBtn"><i class="bi bi-clipboard"></i> Copy Standard</button>

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        <button ng-click="updateStandard()" id="addPrfmc" type="button" class="btn btn-primary">UPDATE</button>
                    </h5>

                </div>
            </div>
        </div>
    </div>


</div>
@section JavaScript{
    <script src="~/Scripts/AngularJS/MFOStandard/CommonMFO.js"></script>



}
