
@{
    ViewBag.Title = "DivisionUtility";
}

<div ng-controller="SPMS_DivisionUtility" style="margin: 5px;">
    <div class="bg-white p-20">
        <h3><b>DIVISION</b></h3>

        <div class="row">

            <div class="col-lg-3">
                <i class="bi bi-search" style="background-color: #EEEEEE; padding: 6px; position: absolute; left: 13px; top: 2px"></i>
                <input type="text" ng-model="search['F_Name']" placeholder="Search Employee . . ." class="form-control" style="padding-left:30px" />
                <span ng-click="search = undefined"><i class="bi bi-x" style="background-color: #EEEEEE; padding: 6px; position: absolute; right: 13px; top: 2px"></i></span>
            </div>
            <div class="col-lg-3">
                <div class="form-control">
                    <i class="bi bi-funnel" style="background-color: #EEEEEE; padding: 6px; position: absolute; left: 13px; top: 2px"></i>
                    <select ng-model="roleFilter" style="position: absolute; left: 40px; top: 1px; height: 34px; border: none; width:80%" class="form-control">
                        <option value=""> Office Role </option>
                        <option ng-repeat="role in officeRoles" ng-value="role.officeRoleId">{{role.description}}</option>
                    </select>
                    <span ng-click="roleFilter = undefined"><i class="bi bi-x" style="background-color: #EEEEEE; padding: 6px; position: absolute; right: 13px; top: 2px"></i></span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-control">
                    <i class="bi bi-funnel" style="background-color: #EEEEEE; padding: 6px; position: absolute; left: 13px; top: 2px"></i>
                    <select ng-model="divisionFilter" style="position: absolute; left: 40px; top: 1px; height: 34px; border: none; width:80%" class="form-control">
                        <option value=""> Division </option>
                        <option ng-repeat="division in divisions" ng-value="division.divisionId">{{division.divisionName}}</option>
                    </select>
                    <span ng-click="divisionFilter = undefined"><i class="bi bi-x" style="background-color: #EEEEEE; padding: 6px; position: absolute; right: 13px; top: 2px"></i></span>
                </div>
            </div>
        </div><br />

        <div class="table-responsive">
            <table class="table">
                <thead class="bg-slate-300" style="font-weight: 500 ">
                    <tr>
                        <td></td>
                        <td>EMPLOYEE NAME</td>

                        <td width="350px">OFFICE ROLE</td>
                        <td>
                        </td>

                        <td width="400px">DIVISION</td>
                        <td>Action</td>

                    </tr>

                </thead>
                <tbody>
                <tbody ng-repeat="user in users| unique: 'EIC' | filter: search | filter: {oldOffcRoleId: roleFilter, oldDivision: divisionFilter}">
                    <tr ng-style="user.Selected && {'background-color':'#EEF1FF', 'border-style': 'none'}">
                        <td rowspan="{{rowCount(user.EIC,user)}}">
                            <div ng-repeat="(chkIndex,chckbox) in users | filter:{'EIC': user.EIC }" ng-if="user.officeRoleId !== 'ORCKHKLG582947' && chkIndex == 0 ">

                                <input ng-if="$last" type="checkbox" style="height:25px; width:30px" ng-model="user.Selected">

                            </div>

                        </td>
                    </tr>

                    <tr ng-style="user.Selected && {'background-color':'#EEF1FF', 'border-style': 'none'}">

                        <td rowspan="{{rowCount(user.EIC,user)}}">{{$index + 1}}. {{user.F_Name}}</td>

                    </tr>
                    <tr ng-repeat="(key,roles) in users| filter:{EIC: user.EIC} " ng-style="user.Selected && {'background-color':'#EEF1FF', 'border-style': 'none'}">
                        <td>
                            <div class="row" ng-if="roles.officeRoleId !== roles.oldOffcRoleId">
                                <div class="col-lg-6">
                                    <span style="float: right; padding: 10px; background-color: #FFFBC1; color: #E14D2A; border-radius: 25px; ">
                                        <b>{{roles.R_Description}}</b> to
                                    </span>

                                </div>
                                <div class="col-lg-6">
                                    <select ng-model="roles.officeRoleId" class="form-control" ng-style="roles.officeRoleId !== roles.oldOffcRoleId && {'border':'2px solid  #E14D2A', 'color': '#E14D2A'}">
                                        <option value="">  </option>
                                        <option ng-repeat="role in officeRoles" ng-value="role.officeRoleId">{{role.description}}</option>

                                    </select>
                                </div>
                            </div>
                            <div ng-if="roles.officeRoleId == roles.oldOffcRoleId">
                                <select ng-model="roles.officeRoleId" class="form-control" ng-style="roles.officeRoleId !== roles.oldOffcRoleId && {'border':'2px solid blue'}">
                                    <option value="">  </option>
                                    <option ng-repeat="role in officeRoles" ng-value="role.officeRoleId">{{role.description}}</option>

                                </select>
                            </div>


                        </td>
                        <td>
                            <i ng-if="key >= 1" ng-click="removedRole(roles.recNo)" class="bi bi-trash3 btn btn-rounded btn-remove"></i>
                        </td>
                        <td>
                            <div class="row" ng-if="user.division !== user.oldDivision">
                                <div class="col-lg-6">
                                    <span style="float: right; padding: 10px; background-color: #FFFBC1; color: #E14D2A; border-radius: 25px; ">
                                        <b>{{user.divisionName}}</b> to
                                    </span>

                                </div>
                                <div class="col-lg-6">
                                    <select ng-model="user.division" class="form-control" ng-style="user.division !== user.oldDivision &&  {'border':'2px solid  #E14D2A', 'color': '#E14D2A'}">
                                        <option value="">  </option>
                                        <option ng-repeat="division in divisions" ng-value="division.divisionId">{{division.divisionName}}</option>

                                    </select>
                                </div>
                            </div>

                            <div ng-if="user.division == user.oldDivision">
                                <select ng-model="user.division" class="form-control" ng-style="user.division !== user.oldDivision &&  {'border':'2px solid  #E14D2A', 'color': '#E14D2A'}">
                                    <option value="">  </option>
                                    <option ng-repeat="division in divisions" ng-value="division.divisionId">{{division.divisionName}}</option>

                                </select>
                            </div>


                        </td>
                        <td>
                            <button ng-click="showAddRole(user)" class="btn btn-primary" ng-style="key >= 1 && {'display':'none'}" data-toggle="modal" data-target="#addRole">
                                ADD ROLE
                            </button>
                        </td>
                    </tr>


                    @*  <tr>

                            <td>
                                <select ng-model="user.officeRoleId" class="form-control">
                                    <option value="">  </option>
                                    <option ng-repeat="role in officeRoles" ng-value="role.officeRoleId">{{role.description}}</option>

                                </select>

                            </td>
                            <td>
                                <select ng-model="user.division" class="form-control">
                                    <option value="">  </option>
                                    <option ng-repeat="division in divisions" ng-value="division.divisionId">{{division.divisionName}}</option>

                                </select>
                            </td>


                        </tr>*@
                </tbody>

            </table>
            <div style="position:absolute; bottom:5px">

                <input class="btn btn-primary" type="button" value="Save Changes" ng-click="addManytoManyDivision()" />

                <input class="btn btn-primary" type="button" value="Multiple Save" ng-click="GetValue()" />

                <button type="button" class="btn btn-primary" style="margin-left: 30px" data-toggle="modal" data-target="#addDivision">
                    <i style="color: white" class="bi bi-plus-lg">  </i>DIVISION
                </button>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------------------- UPDATE ROLE & DIVISION --------------------------------------------------------------------------------------------------------------------------------->

    <div class="modal fade" id="addMultiSup" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" onclose="">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalTitle"> UPDATE ROLE & DIVISION</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-lg-6">
                            <label>Office Role</label>
                            <select ng-model="officeRoleID" class="form-control">
                                <option value="">  </option>
                                <option ng-repeat="role in officeRoles" ng-value="role.officeRoleId">{{role.description}}</option>

                            </select>
                        </div>
                        <div class="col-lg-6">
                            <label>Division</label>
                            <select ng-model="divisionID" class="form-control">
                                <option value="">  </option>
                                <option ng-repeat="division in divisions" ng-value="division.divisionId">{{division.divisionName}}</option>

                            </select>
                        </div>
                    </div>

                    <br />
                    <table class="table table-responsive table-striped">
                        <thead class="bg-slate-300">
                            <tr>
                                <th><i class="bi bi-person"></i> EMPLOYEE</th>
                                <th>OFFICE ROLE</th>
                                <th>DIVISION</th>
                                <th>TOTAL: {{lengthUsers}}</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="user in selectedUsers">
                            <tr>
                                <td>
                                    {{user.F_Name}}
                                </td>

                                <td>
                                    {{user.R_Description}}
                                </td>
                                <td colspan="2">{{user.divisionName}}</td>
                            </tr>
                        </tbody>
                    </table><br />


                </div>
                <div class="modal-footer ">
                    <div class="col-lg-4">
                        <button ng-click="addManytoOneDivRole()" class="btn btn-primary form-control">SUBMIT</button>

                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-------------------------Modal for Adding Role------------------------------------------->

    <div class="modal fade" id="addRole" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-slate-300" style=" padding: 20px">
                    <h5 class="modal-title" id="ModalTitle" style="color:white"><strong>ADD ROLE</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="" style="margin-top: -10px; color: white">
                        <i class="icon icon-close2"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <select ng-model="office_RoleID" class="form-control" ng-style="Is_Empty && {'border':'2px solid  #E14D2A'}">
                                        <option value=""> --Select Role-- </option>
                                        <option ng-repeat="role in officeRoles" ng-value="role.officeRoleId">{{role.description}}</option>

                                    </select>
                                    <p ng-show="Is_Empty" style="color:red">Please select a role.</p>
                                    <br />
                                    <label class="labelForm"><b>Employee Name</b></label>
                                    <input ng-model="userRole.F_Name" type="text" class="form-control" readonly="readonly" />
                                    <label class="labelForm"><b>Role</b></label>
                                    <div ng-repeat="user in users | filter:{'EIC': userRole.EIC} ">
                                        <input ng-model="user.R_Description" type="text" class="form-control" readonly="readonly" />
                                        <div class="p-5"></div>

                                    </div>
                                    <br />

                                    <button id="btn_save" type="submit" class="btn btn-primary form-control" ng-click="saveRole()">SAVE</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------Modal for Adding DIVSION-------------------------------------------->

    <div class="modal fade" id="addDivision" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-slate-300" style=" padding: 20px">
                    <h5 class="modal-title" id="ModalTitle" style="color:white"><strong>DIVISION REGISTRATION FORM</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="" style="margin-top: -10px; color: white">
                        <i class="icon icon-close2"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body">
                            <form>
                                <div class="form-group">

                                    <br />
                                    <label class="labelForm"><b>Division Name</b></label>
                                    <input ng-model="divname" type="text" class="form-control" />
                                    <br />

                                    <button id="btn_save" type="submit" class="btn btn-primary form-control" ng-click="divisionAdd(divname)">SAVE</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section JavaScript{
    <script src="~/Scripts/AngularJS/SPMS_UTILITY/DivisionUtility.js"></script>


}


