@{
    ViewBag.Title = "Profile";
}

<link href="~/Content/assets/plugins/toastr/toastr.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/select2/select2.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/swal/sweetalert.css" rel="stylesheet" />

<style>
    .page-title {
        padding: 20px 36px 10px 0;
        display: block;
        position: relative;
    }

    .select2 {
        z-index: 99999999;
    }

    span.select2-container.select2-container--default.select2-container--open {
        z-index: 100003;
    }

    span.select2-selection.select2-selection--single {
        outline: none;
    }
</style>
<div ng-controller="EmployeeProfile">
    <!-- Page header -->
    <div class="page-header">
        <!-- Header content -->
        <div class="page-header-content">
            <div class="page-title">
                <h4> <a href="~/Employee/List"><i class="icon-arrow-left52 position-left"></i></a> <span class="text-semibold">EMPLOYEE PROFILE</span></h4>
                <ul class="breadcrumb position-right text-size-small">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Employee</a></li>
                    <li class="active">Profile</li>
                </ul>
            </div>
            @*<div class="heading-elements">
                    <div class="heading-btn-group">
                        <a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                        <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
                        <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
                    </div>
                </div>*@
        </div>
        <!-- /header content -->
        <!-- Toolbar -->
        <div class="navbar navbar-default navbar-component navbar-xs">
            <ul class="nav navbar-nav visible-xs-block">
                <li class="full-width text-center"><a data-toggle="collapse" data-target="#navbar-filter"><i class="icon-menu7"></i></a></li>
            </ul>
            <div class="navbar-collapse collapse" id="navbar-filter">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#profile" data-toggle="tab"><i class="icon-user-check position-left"></i> Profile Info</a></li>
                    <li><a href="#family" data-toggle="tab"><i class="icon-users4 position-left"></i> Family Background</a></li>
                    <li><a href="#education" data-toggle="tab"><i class="icon-graduation position-left"></i> Education</a></li>
                    <li ng-click="eligibilityProfile()"><a href="#serviceEligibility" data-toggle="tab"><i class="icon-certificate position-left"></i> Eligibility</a></li>
                    <li><a href="#workexperience" data-toggle="tab"><i class="icon-file-word position-left"></i> Work Experience</a></li>
                    <li><a href="#training" data-toggle="tab"><i class="icon-calendar3 position-left"></i> Trainigs & Seminars@*<span class="badge badge-success badge-inline position-right">32</span>*@</a></li>
                </ul>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-gear"></i> <span class="visible-xs-inline-block position-right"> Options</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#"><i class="icon-clippy"></i> Go to List</a></li>
                                <li><a href="#"><i class="icon-search4"></i> Find</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /toolbar -->
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">
        <!-- User profile -->
        <div class="row">
            <div class="col-lg-9">
                <div class="tabbable">
                    <div class="tab-content">

                        <!-- PROFILE -->
                        <div class="tab-pane fade in active" id="profile">
                            <!-- Profile info -->
                            <div class="panel panel-flat">
                                <div class="panel-heading">                                    
                                    <h5 class="content-group text-semibold no-padding-top no-padding-bottom ">
                                        PROFILE INFORMATION
                                    </h5>
                                </div>
                                <div class="panel-body">

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="text-muted no-margin-bottom">ID Number</label>
                                                <label class="form-control text-semibold text-size-large">{{('0000' + data.idNo).slice(-4) }}</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">Lastname</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.lastName" class="form-control text-semibold">
                                            </div>
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">Firstname</label>
                                                <input id="text" ng-readonly="isReadOnly" type="text" ng-model="data.firstName" class="form-control text-semibold">
                                            </div>
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">Middle Name</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.middleName" class="form-control text-semibold">
                                            </div>
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">Name Extension</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.extName" placeholder="Jr./Sr." class="form-control text-semibold">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">Name Prefix <span class="text-danger">*</span></label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.namePrefix" class="form-control text-semibold">
                                            </div>
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">Name Suffix</label>
                                                <input id="text" ng-readonly="isReadOnly" type="text" ng-model="data.nameSuffix" class="form-control text-semibold">
                                            </div>
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">Sex</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.sex" ng-if="isReadOnly == true" class="form-control text-semibold">
                                                <select ng-if="isReadOnly == false" class="form-control select2 select-Custom text-semibold" ng-model="data.sex" style="width:100%;"
                                                        ng-options="c.code as c.name for c in sexList" value="{{c.code}}"
                                                        id="sex">
                                                    <option value="" selected="">-- Select --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    @*<hr />*@
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">Date of Birth</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-if="isReadOnly == true" ng-model="formatDate(data.birthDate)" class="form-control text-semibold">
                                                <input type="date" ng-model="data.birthDate" ng-if="isReadOnly == false" class=" form-control text-semibold ">

                                            </div>
                                            <div class="col-md-9">
                                                <label class="text-muted no-margin-bottom">Place of Birth</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.birthPlace" placeholder="" class="form-control text-semibold">
                                            </div>
                                         

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">Civil Status</label>
                                                <input type="text" ng-model="data.civilStatCode" ng-readonly="isReadOnly" ng-if="isReadOnly == true" class="form-control text-semibold">
                                                <select ng-if="isReadOnly == false" class="form-control select2 select-Custom text-semibold" ng-model="data.civilStatCode" style="width:100%;"
                                                        ng-options="c.civilStatCode as c.civilStatName for c in civilStatus" value="{{c.civilStatCode}}"
                                                        id="warmBody">
                                                    <option value="" selected="">-- Select --</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="text-muted no-margin-bottom">Height</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.height" placeholder="(In Meters)" class="form-control text-semibold">
                                            </div>
                                            <div class="col-md-2">
                                                <label class="text-muted no-margin-bottom">Weight</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.weight" class="form-control text-semibold">
                                            </div>

                                            <div class="col-md-2">
                                                <label class="text-muted no-margin-bottom">Blood Type</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.bloodType" class="form-control text-semibold">
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">PAG-IBIG NO.</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.HDMFNo" class="form-control text-semibold">
                                            </div>
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">PHILHEALTH NO.</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.PHICNo" placeholder="" class="form-control text-semibold">
                                            </div>
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">SSS NO.</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.SSSNo" class="form-control text-semibold">
                                            </div>

                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">TIN </label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.TINNo" class="form-control text-semibold">
                                            </div>

                                        </div>
                                    </div>


                                    <h6 class="panel-title text-blue-700" style="border-bottom:solid 2px #dedede; width:100%; padding-top:10px;  margin:15px 0px;">RESIDENTIAL ADDRESS</h6>


                                    <div class="form-group">

                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">House/Block/Lot No.</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.houseBlockNoResAddress" class="form-control text-semibold">
                                            </div>
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">Street</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.streetResAddress" class="form-control text-semibold">
                                            </div>
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">Subdivision/Village</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.subdivisionResAddress" class="form-control text-semibold">
                                            </div>

                                        </div>
                                    </div>


                                    <div class="form-group">

                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">Barangay</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.brgyResAddress" class="form-control text-semibold">
                                            </div>
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">City/Municipality</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.cityMunResAddress" class="form-control text-semibold">
                                            </div>
                                            <div class="col-md-4">
                                                <label class="text-muted no-margin-bottom">Province</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.provinceResAddress" class="form-control text-semibold">
                                            </div>

                                            <div class="col-md-2">
                                                <label class="text-muted no-margin-bottom">Zip Code</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.ZIPResAddress" class="form-control text-semibold">
                                            </div>

                                        </div>
                                    </div>


                                    <h6 class="panel-title text-blue-700" style="border-bottom:solid 2px #dedede; width:100%; padding-top:10px; margin:15px 0px;">PERMANENT ADDRESS</h6>

                                    <div class="form-group">

                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">House/Block/Lot No.</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.houseBlockNoPermAddress" class="form-control text-semibold">
                                            </div>
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">Street</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.streetPermAddress" class="form-control text-semibold">
                                            </div>
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">Subdivision/Village</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.subdivisionPermAddress" class="form-control text-semibold">
                                            </div>


                                        </div>
                                    </div>


                                    <div class="form-group">

                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">Barangay</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.brgyPermAddress" class="form-control text-semibold">
                                            </div>
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">City/Municipality</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.cityMunPermAddress" class="form-control text-semibold">
                                            </div>
                                            <div class="col-md-4">
                                                <label class="text-muted no-margin-bottom">Province</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.provincePermAddress" class="form-control text-semibold">
                                            </div>

                                            <div class="col-md-2">
                                                <label class="text-muted no-margin-bottom">Zip Code</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.ZIPPermAddress" class="form-control text-semibold">
                                            </div>

                                        </div>
                                    </div>


                                    <hr />
                                    <div class="form-group">

                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">TELEPHONE NO.</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.telephoneNo" value="Kopyov" class="form-control text-semibold">
                                            </div>
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">MOBILE NO</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.mobileNo" placeholder="" class="form-control text-semibold">
                                            </div>
                                            <div class="col-md-3">
                                                <label class="text-muted no-margin-bottom">EMAIL ADDRESS</label>
                                                <input type="text" ng-readonly="isReadOnly" ng-model="data.emailAddress" placeholder="" class="form-control text-semibold">
                                            </div>


                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <div class="row">

                                            <div class="col-md-12">
                                                <button class="btn btn-primary" ng-click="enableText(1)" ng-hide="isReadOnly == false ">
                                                    Edit Profile
                                                </button>

                                                <button class="btn btn-default" ng-click="cancelEditing()" ng-hide="isReadOnly == true ">
                                                    Cancel
                                                </button>

                                                <button class="btn btn-primary pull-right" ng-click="updateProfile(data)" ng-hide="isReadOnly == true ">
                                                    Update Profile
                                                </button>

                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>

                        <!-- EDUCATION -->
                        <div class="tab-pane fade" id="education">
                            <!-- Profile info -->
                            <div class="panel panel-flat">
                                <div class="panel-heading">                                     
                                    <h5 class="content-group text-semibold no-padding-top no-padding-bottom ">
                                        EDUCATIONAL BACKGROUND
                                    </h5>
                                </div>
                                <div class="panel-body">

                                </div>
                            </div>

                        </div>


                        <!-- ELIGIBILITY -->
                        <div class="tab-pane fade" id="serviceEligibility">

                            <div class="panel panel-white"  >
                                <div class="panel-heading no-padding-bottom" style="padding-top:10px!important">
                                    <!-- Collapsible with right control button -->
                                    <h5 class="content-group text-semibold no-padding-top no-padding-bottom ">
                                        CIVIL SERVICE ELIGIBILITY
                                    </h5>
                                    <div class="heading-elements">
                                        <ul class="icons-list">
                                            <li class="text-blue-800 cursor-pointer text-semibold " style="padding-top:5px;" ng-click="modalAddEligibility()"> <span> <i class="icon-file-plus"></i> ADD NEW </span> </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="table-responsive" style="padding-bottom:20px;">
                                    <table class="table tasks-list table-striped table-hover table-bordered text-size-small" style="padding-bottom:50px;">
                                        <thead>
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th class="text-center">ELIGIBILITY</th>
                                                <th class="text-center">RATING</th>
                                                <th class="text-center">EXAM DATE</th>
                                                <th class="text-center">PLACE OF EXAM</th>
                                                <th class="text-center">LICENSE #</th>
                                                <th class="text-center">VALIDITY DATE</th>
                                                <th class="text-center" style="width:50PX!important">
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody style="border-bottom:1px solid #ccc;">

                                            <tr ng-repeat="item in empEligList">
                                                <td class="text-center">{{$index+1}}</td>
                                                <td class="text-semibold">
                                                    <i class="icon-cloud-check text-blue-800" ng-show="item.isVerified == 1"></i>
                                                    <i class="icon-exclamation text-danger-800" ng-show="item.isVerified != 1"></i>
                                                    <span class="text-blue-800 cursor-pointer">{{item.eligibilityName}}</span>
                                                </td>
                                                <td class="text-center">{{item.rating}}</td>
                                                <td class="text-center">{{formatDate(item.examDate)}}</td>
                                                <td><small class="text-size-mini">{{item.examPlace}}</small></td>
                                                <td class="text-center">{{item.licenseNo}}</td>
                                                <td class="text-center">{{formatDate(item.validityDate)}}</td>
                                                <td>
                                                    <ul class="icons-list">
                                                        <li class="dropdown">
                                                            <a href="#" class="dropdown-toggle text-blue-800" data-toggle="dropdown">
                                                                <i class="icon-arrow-down12"></i>
                                                            </a>
                                                            <ul class="dropdown-menu dropdown-menu-right">
                                                                <li ng-click="modalEditEligibility(item)"><a href="#"><i class="icon-pencil6 text-blue-800"></i> View Data</a></li>
                                                                <li ng-click="deleteEligibility(item)"><a href="#"><i class="icon-bin text-danger-800"></i> Delete Data</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>

                                        </tbody>

                                       

                                    </table>
                                    <h3>&nbsp;</h3>
                                </div>
                               
                            </div>

                        </div>

                        <!-- WORK EXPERIENCE -->
                        <div class="tab-pane fade" id="workexperience">

                            <div class="panel panel-flat">
                                <div class="panel-heading">                                   
                                    <h5 class="content-group text-semibold no-padding-top no-padding-bottom ">
                                        WORK EXPERIENCE
                                    </h5>
                                </div>
                                <div class="panel-body">

                                </div>
                            </div>

                        </div>

                        <!-- TRAININGS & SEMINARS -->
                        <div class="tab-pane fade" id="workexperience">

                            <div class="panel panel-flat">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> WORK EXPERIENCE</h4>

                                </div>
                                <div class="panel-body">

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <!-- User thumbnail -->
                <div class="thumbnail">
                    <div class="thumb thumb-rounded thumb-slide">
                        <img src="~/Employee/RetrieveImage" alt="" height=47 width=47 style="border-radius: 50%;" />
                        @*<img src="~/Content/assets/images/demo/users/NoImage.jpg" alt="">*@
                        <div class="caption">
                            <span>
                                <a href="#" class="btn bg-primary-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
                                <a href="#" class="btn bg-primary-400 btn-icon btn-xs"><i class="icon-link"></i></a>
                            </span>
                        </div>
                    </div>

                    <div class="caption text-center">
                        <h6 class="text-semibold no-margin">
                            {{data.fullNameFirst}} <small class="display-block">
                                {{data.positionTitle}} <span ng-if="data.salaryGrade >= 1" class="text-muted text-semibold">({{data.salaryGrade}}/{{data.step}})</span>
                                <br />
                                <span ng-if="item.subPositionTitle != null">{{data.subPositionTitle}}</span>
                            </small>
                        </h6>

                    </div>
                </div>
                <!-- /user thumbnail -->
                <!-- Navigation -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h6 class="panel-title">Navigation</h6>
                        <div class="heading-elements">
                            <a href="#" class="heading-text">See all &rarr;</a>
                        </div>
                    </div>
                    <div class="list-group no-border no-padding-top">
                        <a href="~/Employee/E201File" class="list-group-item"><i class="icon-color-sampler"></i> 201 FILE</a>
                        <a href="#" class="list-group-item"><i class="icon-file-presentation"></i> PERSONAL DATA SHEET</a>
                        <a href="~/Employee/ServiceRecord" class="list-group-item"><i class="icon-certificate"></i> SERVICE RECORD</a>
                        <div class="list-group-divider"></div>
                        <a href="#" class="list-group-item"><i class="icon-cog3"></i> Account settings</a>
                    </div>
                </div>
                <!-- /navigation -->



            </div>
        </div>

    </div>


    <!-- /MODALS -->
    <!-- Primary modal -->


    <div id="modalAddEligibility" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" style="overflow:hidden;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title"> <i class="icon-file-plus"></i> Eligibility</h6>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="row">

                            <div class="col-md-9">
                                <label class="no-margin-bottom">Eligibility<span class="text-danger">*</span></label>
                                <select class="form-control select2 select-Custom text-semibold" ng-model="elig.eligibilityCode" style="width:100%;"
                                        ng-options="c.eligibilityCode as c.eligibilityName for c in eligType" value="{{c.eligibilityCode}}"
                                        id="eligibility">
                                    <option value="" selected="">-- Select --</option>
                                </select>

                            </div>

                            <div class="col-md-3">
                                <label class="no-margin-bottom">Rating <span class="text-danger">*</span></label>
                                <input type="text"  ng-model="elig.rating" class="form-control text-semibold">
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">

                            <div class="col-md-12">
                                <label class="no-margin-bottom">Place of Examination <span class="text-danger">*</span></label>
                                <input type="text"   ng-model="elig.examPlace" class="form-control text-semibold">
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="no-margin-bottom">Examination Date<span class="text-danger">*</span></label>
                                <input type="date" ng-model="elig.examDate"   class=" form-control text-semibold ">
                            </div>
                            <div class="col-md-4">
                                <label class="no-margin-bottom">License No <code>* IF APPLICABLE</code></label>
                                <input id="text"   type="text" ng-model="elig.licenseNo" class="form-control text-semibold" autocomplete="off">
                            </div>

                            <div class="col-md-4">
                                <label class="no-margin-bottom">Validity <code>* IF APPLICABLE</code></label>
                                <input type="date" ng-model="elig.validityDate"  class=" form-control text-semibold ">
                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary btn-rounded pull-right" ng-click="submitEligibility(elig)">
                        <i class="icon-check2"></i>  Submit Eligibility &nbsp;
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div id="modalEditEligibility" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" style="overflow:hidden;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title"> <i class="icon-file-check"></i> Eligibility Update</h6>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="row">

                            <div class="col-md-9">
                                <label class="no-margin-bottom">Eligibility<span class="text-danger">*</span></label>
                                <select class="form-control select2 select-Custom text-semibold text-size-large" ng-model="elig.eligibilityCode" style="width:100%;"
                                        ng-options="c.eligibilityCode as c.eligibilityName for c in eligType" value="{{c.eligibilityCode}}">
                                    <option value="" selected="">-- Select --</option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label class="no-margin-bottom">Rating <span class="text-danger">*</span></label>
                                <input type="text"   ng-model="elig.rating" class="form-control text-semibold text-size-large">
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">

                            <div class="col-md-12">
                                <label class="no-margin-bottom">Place of Examination <span class="text-danger">*</span></label>
                                <input type="text"  ng-model="elig.examPlace" class="form-control text-semibold text-size-large">
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="no-margin-bottom">Examination Date<span class="text-danger">*</span></label>
                                <input type="date" ng-model="elig.examDate" class=" form-control text-semibold text-size-large ">
                            </div>
                            <div class="col-md-4">
                                <label class="no-margin-bottom">License No <code>* IF APPLICABLE</code></label>
                                <input id="text"   type="text" ng-model="elig.licenseNo" class="form-control text-semibold text-size-large" autocomplete="off">
                            </div>

                            <div class="col-md-4">
                                <label class="no-margin-bottom">Validity <code>* IF APPLICABLE</code></label>
                                <input type="date" ng-model="elig.validityDate"   class=" form-control text-semibold text-size-large">
                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary btn-rounded pull-right text-size-large" ng-click="updateEligibility(elig)">
                        <i class="icon-check2"></i>  Update Eligibility &nbsp;
                    </button>

                </div>
            </div>
        </div>
    </div>

    <!-- /primary modal -->

</div>

<!-- /content area -->
@section JavaScript{
    <script src="~/Content/assets/plugins/toastr/toastr.min.js"></script>
    <script src="~/Content/assets/plugins/select2/select2.min.js"></script>
    <script src="~/Content/assets/plugins/moments/moment.js"></script>
    <script src="~/Content/assets/plugins/swal/sweetalert.min.js"></script>
    <script src="~/Scripts/AngularJS/Employee/Profile.js"></script>

    <script>
 


        $("#eligibility").select2({
            placeholder: '-- Select --',
            allowClear: true
        });


    </script>


}

